@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

:root {
  --primary: #00ffff;
  --second: #ff7f00;
}

body {
  width: 100%;
  min-width: 100vw;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  background: url('/public/images/anime.gif') no-repeat;
  background-size: cover;
  background-attachment: inherit;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent
}

.box-content {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid var(--primary);
  background: rgba(0,0,0,0.1);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 0 var(--primary),
  2px 2px 10px var(--primary),
  2px 2px 20px var(--primary),
  2px 2px 30px var(--primary);
}
.play {
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-right: 3px solid transparent;
  border-top: 15px solid transparent;
  border-left: 20.5px solid var(--second);
  margin-left: 1.5em;
  cursor: pointer;
  opacity: 1;
}
.play.active {
  opacity: 0;
  z-index: -1;
}

.pause {
  width: 17px;
  height: 25px;
  background-color: transparent;
  transform: translateX(-25px);
  border-left: 4px solid var(--second);
  border-right: 4px solid var(--second);
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}
.pause.active {
  opacity: 1;
  z-index: 1;
}

p {
  color: #fff;
  font-size: 20px;
  margin: 1.5em 1.5em 1.5em 0.5em;
}
.visualizer {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 1em;
  background: transparent;
  display: inline-flex;
  justify-content: space-between;
  transform: rotate(180deg);
  z-index: 3;
}
.line1, .line2, .line3, .line4, .line5 {
  background: linear-gradient(123deg, var(--second) 55%, transparent 10%, var(--second) 70%);
  background-size: 700%;
  width: 4px;
  height: 40px;
  animation: upDown 1.6s linear infinite, colorMove 4s linear infinite;
  animation-delay: calc(var(--i) * -0.25s);
  transition: all 1.5s ease;
  opacity: 0;
}
.line1.active, .line2.active, .line3.active, .line4.active, .line5.active {
  opacity: 1;
}
@keyframes upDown {
  0% {
    height: 10px;
  } 50% {
    height: 40px;
  } 100% {
    height: 10px;
  }
}
@keyframes colorMove {
  0% {
    background-position: 0 0;
  } 100% {
    background-position: 700% 0;
  }
}

.info {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 600px) {
  p {
    font-size: 16px;
  }
  .pause {
    height: 20px;
  }
  .visualizer {
    width: 35px;
    height: 35px;
  }
  @keyframes upDown {
  0% {
    height: 10px;
  } 50% {
    height: 35px;
  } 100% {
    height: 10px;
  }
}
}
